body{
    background-color: black;
    color: white;
}
.container{
    /* border: 2px solid red; */
    background-color: rgb(70, 65, 65);
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 200px;
}
.heading{
    font-family: 'Lobster', cursive;
}
span{
    color: red;
}
#marvel{
    color: red;
    margin-left: 10%;
}
#title{
    text-align: center;
    font-size: 90px;
}
#img-div{
    width: 350px;
    margin: auto;
    /* border: 2px solid red; */
}
#image{
    width: 100%;
    border-radius: 25px;
    width: 350px;
    display: block;
    margin: auto;
    border-radius: 20px;
}
#life{
    text-align: center;
}
#info{
   font-size: 25px;
   text-align:justify; 
   width: 80%;
   margin: auto;
}
ul{
    margin: auto;
    /* border: 1px solid red; */
    width: 80%;
}
li{
    font-size: 1.5rem;
    line-height: 3rem;
}
#footer{
  width: 80%;
  margin: auto;  
  font-size: 32px;
  margin-top: 20px;
}
#link{
    text-decoration: none;
    color: white;
    border: 1px solid darkorange;
    padding: 10px;
    background-color: black;
    border-radius: 15px;
}
#link:hover{
    background-color: rgb(58, 53, 53);
    color: red;
}











